.contactUsContainer {
  display: block;
  background: #4a6d96;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 5%;
}
.contactusHeader {
  width: 72%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
.contactusHeaderLeft {
  float: right;
  width: 25%;
}
.contactusHeaderLeft h1 {
  font-size: 1.3vw;
  letter-spacing: 0.1vw;
  text-align: center;
}
.contactusHeaderMapBlock {
  display: block;
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
}
.contactusHeaderMapIcon {
  float: left;
  width: 15%;
  margin-top: 4%;
}
.contactusHeaderMapBlock p {
  float: left;
  margin: 5px 0;
  font-size: 1.2vw;
  margin-left: 5%;
}
.contactusHeaderEmailBlock {
  width: 85%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
.contactusHeaderEmailIcon {
  float: left;
  margin: 0;
  margin-top: 3%;
  width: 15%;
}
.contactusHeaderEmailBlock p {
  float: left;
  margin: 8px 0;
  font-size: 1.2vw;
  margin-left: 5%;
}
.contactusFooter {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.h6TextDesktop {
  color: #7d96b5;
  font-size: 0.7vw;
}
.h6TextMobile {
  display: none;
}
@media screen and (max-width: 750px) {
  .contactusHeader {
    width: 94%;
  }
  .contactusHeaderLeft {
    width: 100%;
    display: block;
  }
  .contactusHeaderLeft h1 {
    font-size: 6vw;
    margin-top: 10%;
  }
  .contactusHeaderMapBlock {
    margin-top: 13%;
    width: 58%;
  }
  .contactusHeaderMapIcon {
    position: relative;
    top: 50%;
    transform: translateY(20%);
  }
  .contactusHeaderMapBlock p {
    font-size: 4vw;
  }
  .contactusHeaderEmailBlock {
    width: 58%;
    margin-top: 4%;
  }
  .contactusHeaderEmailIcon {
    position: relative;
    top: 50%;
    transform: translateY(10%);
  }
  .contactusHeaderEmailBlock p {
    font-size: 4vw;
  }
  .contactusFooter {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .h6TextDesktop {
    display: none;
  }
  .h6TextMobile {
    display: block;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 6%;
  }
}
